<% unless experience.blank? %>
    <div>
      <span class="profile-item-title"><%= experience[:company] %></span>,
      <span id="<%= encode_id(experience[:_id]) %>" class="profile-position-title"><%= experience[:title] %></span>
      <% if is_edit %>
        <a id="edit_link" class="edit_hover" onclick="renderEditItem('show_experience_<%= encode_id(experience[:_id]) %>_true')" style="cursor: pointer;">
          <strong><span class="glyphicon glyphicon-edit"></span> Edit </strong>
        </a>
      <% end %>
      <span class="profile-item-year">
        [
          <% if !experience[:start_month].blank? %>
            <%= experience[:start_month] %>
          <% end %>
          <% if !experience[:start_year].blank? %>
            <%= experience[:start_year] %>
          <% end %>
            -
          <% if experience[:end_month].blank? || experience[:end_year].blank? %>
              Present
          <% end %>
          <% if !experience[:end_month].blank? %>
            <%= experience[:end_month] %>
          <% end %>
          <% if !experience[:end_year].blank? %>
            <%= experience[:end_year] %>
          <% end %>
        ]
      </span>
    </div>
    <div>

      <% unless experience[:description].blank? %>
          <%= experience[:description].html_safe %>
      <% end %>

    </div>
    <div>

      <% if !experience[:skills].blank? and experience[:skills].to_s.length > 4%>
          <span class="profile-skills">
            Skills — <%= experience[:skills].kind_of?(Array)?
                                 experience[:skills].join(', ').html_safe : experience[:skills].html_safe %>
          </span>
      <% end %>

    </div>
    <div>

      <% if !experience[:link].blank? %>
          <% if is_valid_link(experience[:link]) %>
              <a href="<%= experience[:link] %>" target="_blank"><%= experience[:link].truncate(50, :omission => '.. click here').html_safe %> </a>
          <% else %>
              <span style="text-decoration: underline"><%= experience[:link].html_safe %></span>
          <% end %>
      <% end %>

    </div>
    <% unless experience.work_reference.blank? %>
      <div id="accordion-<%= index %>">
        <div>
          <div>
            <a class="" data-toggle="collapse" data-parent="#accordion-<%= index %>" href="#" onclick="$('#collapse-<%= index %>').collapse('toggle');return false;">
              <%= experience.work_reference.count() %> <%= 'review'.pluralize(experience.work_reference.count()) %>
            </a>
          </div>
          <div id="collapse-<%= index %>" class="accordion-body collapse" style="border: 1px solid #e5e5e5">
            <div class="accordion-inner">
              <% experience.work_reference.each do |reference| %>
                <blockquote style="font-size:13px">
                  <p style="font-size:13px"><%=h reference.review_text %></p>
                  <footer  style="font-size:13px">
                    <a href="<%= reference.enterprise_user.linkedin_url %>" target="_blank"><%= reference.enterprise_user.name %></a>,
                    <%= reference.enterprise_user.title %>
                  </footer>
                </blockquote>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<% end %>
