<poster style=" color: rgb(34, 34, 34);
        text-align: left;
        border: 0px none rgb(34, 34, 34);
        font: normal normal normal normal 15px / 24px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
        list-style: none inside none;
        outline: rgb(34, 34, 34) none 0px;">
  <div style="color: rgb(34, 34, 34);
          float: left;
          height: 40px;
          position: relative;
          text-align: left;
          width: 40px;
          perspective-origin: 20px 20px;
          transform-origin: 20px 20px;
          border: 0px none rgb(34, 34, 34);
          font: normal normal normal normal 15px / 24px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
          list-style: none inside none;
          margin: 0px 10px 0px 0px;
          outline: rgb(34, 34, 34) none 0px;">
    <a href="https://getmeed.com/<%= user.handle %>" style="   color: rgb(0, 166, 81);
            cursor: pointer;
            display: block;
            height: 40px;
            text-align: left;
            text-decoration: none;
            width: 40px;
            perspective-origin: 20px 20px;
            transform-origin: 20px 20px;
            background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
            border: 0px none rgb(0, 166, 81);
            border-radius: 50% 50% 50% 50%;
            font: normal normal normal normal 15px / 24px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
            list-style: none inside none;
            outline: rgb(0, 166, 81) none 0px;
            overflow: hidden;"><img src="<%= user.image_url %>" style="  color: rgb(0, 166, 81);
            cursor: pointer;
            display: block;
            float: left;
            height: 40px;
            text-align: left;
            width: 40px;
            perspective-origin: 20px 20px;
            transform-origin: 20px 20px;
            border: 0px none rgb(0, 166, 81);
            font: normal normal normal normal 15px / 24px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
            list-style: none inside none;
            outline: rgb(0, 166, 81) none 0px;" alt=''/></a>
  </div>
  <div style=" color: rgb(34, 34, 34);
          height: 40px;
          text-align: left;
          width: 489px;
          perspective-origin: 244.5px 20px;
          transform-origin: 244.5px 20px;
          border: 0px none rgb(34, 34, 34);
          font: normal normal normal normal 12px / 14.4px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
          list-style: none inside none;
          outline: rgb(34, 34, 34) none 0px;
          overflow: auto;">
    <p style=" color: rgb(163, 163, 174);
            height: 20px;
            text-align: left;
            width: 489px;
            perspective-origin: 244.5px 10px;
            transform-origin: 244.5px 10px;
            border: 0px none rgb(163, 163, 174);
            font: normal normal normal normal 13px / 15.6px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
            list-style: none inside none;
            margin: 0px;
            outline: rgb(163, 163, 174) none 0px;">
      <a href="https://getmeed.com/<%= user.handle %>" style=" color: rgb(0, 166, 81);
              cursor: pointer;
              text-align: left;
              text-decoration: none;
              border: 0px none rgb(0, 166, 81);
              font: normal normal normal normal 14px / 16.8px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
              list-style: none inside none;
              outline: rgb(0, 166, 81) none 0px;"><%= user.name %></a>
      — <%= user.headline %>
      <strong style=" color: rgb(163, 163, 174);
              text-align: left;
              border: 0px none rgb(163, 163, 174);
              font: normal normal bold normal 13px / 15.6px 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel, Arial, sans-serif;
              list-style: none inside none;
              outline: rgb(163, 163, 174) none 0px;"><%= user.meed_points %></strong>
    </p>
  </div>
</poster>