<%= render 'notifier/email_header' %>
<center class="wrapper" style="display: table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #fbfbfb">
  <%= render 'notifier/email_logo' %>
  <table class="centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto">
    <tbody>
    <tr>
      <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px">​</td>
      <td style="padding: 0;vertical-align: top">
        <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;background-color: #ffffff;font-size: 14px">
          <tbody>
          <tr>
            <td class="column" style="padding: 0;vertical-align: top;text-align: left">
              <div>
                <div class="column-top" style="font-size: 32px;line-height: 32px">&nbsp;</div>
              </div>
              <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%">
                <tbody>
                <tr>
                  <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px">
                    <p style="Margin-top: 0;color: #565656;font-family: 'Lucida Grande';font-size: 16px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                      Hey <%= @user.first_name.titleize %>,
                    </p>

                    <p style="Margin-top: 0;color: #565656;font-family: 'Lucida Grande';font-size: 16px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                        Congrats the wait is over! Please follow the link below to activate your account.

                        <div style="margin:14px 0;display:block;text-align:center"> <a href="<%= @verification_url %>" style="background:linear-gradient(to bottom,#49ad41 0%,#3d9936 100%);border-radius:4px;color:#ffffff;display:inline-block;padding:12px 40px;margin:0 auto;max-width:98.5%;text-decoration:none;text-transform:uppercase;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;letter-spacing:2px" target="_blank">Activate Account</a><span style="color:#9a9a9a"></span></div>
                    </p>

                    <p style="Margin-top: 0;color: #000000;font-family: 'Lucida Grande';font-size: 20px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                    </p>

                    <p style="Margin-top: 0;color: #000000;font-family: 'Lucida Grande';font-size: 20px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                      Want To Get More?
                    </p>

                    <% if (@campaign_type == 'job' ||  @campaign_type == 'recref') and (@left_count > 0) %>
                      <p style="Margin-top: 0;color: #565656;font-family: 'Lucida Grande';font-size: 16px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                        Get exclusive connection to a recruiter of your choice by signing up <b><%= @left_count %> more friends</b> to Meed.
                      </p>
                    <% end %>

                    <% if (@campaign_type == 'chipotle' || @campaign_type.blank?) and (@left_count > 0) %>
                      <p style="Margin-top: 0;color: #565656;font-family: 'Lucida Grande';font-size: 16px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                        Win at $25 Chipotle gift card by signing up <b><%= @left_count %> more friends</b> to Meed. Hurry up as this only applies to the first 100 users!
                      </p>
                    <% end %>

                    <p style="Margin-top: 0;color: #565656;font-family: 'Lucida Grande';font-size: 16px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                      <tr>
                        <td width="1"></td>
                        <td width="15">&nbsp;</td>
                        <td align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tbody><tr>
                            <td height="13" style="font-size:1px;line-height:1px;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="54" align="center" valign="middle" style="font-family:'Lucida Grande'; font-size:16px;line-height:25px">
                              Use this unique URL and don’t forget to add #INeedMeed when posting on social media!
                              <br/><br/>
                              &nbsp; <span style="font-size:19px;"><strong><a href="<%= @referral_url %>" target="" class=""><%= @referral_url %></a></strong></span></td>
                          </tr>
                          <tr>
                            <td height="13" style="font-size:1px;line-height:1px;">&nbsp;</td>
                          </tr>
                          </tbody></table></td>
                        <td width="15">&nbsp;</td>
                        <td width="1"></td>
                      </tr>
                      </tbody>
                    </table>
                    </p>

                    <p style="Margin-top: 0;color: #565656;font-family: 'Lucida Grande';font-size: 16px;line-height: 25px;Margin-bottom: 25px; text-align: left;">
                      - Meed Team
                    </p>

                  </td>
                </tr>
                </tbody>
              </table>

            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px">​</td>
    </tr>
    </tbody>
  </table>
  <div class="spacer" style="font-size: 1px;line-height: 32px;width: 100%">&nbsp;</div>
</center>
<%= render 'notifier/email_footer' %>
</body>
</html>