<div id=":2ln" class="ii gt m151747266bead99f adP adO">
  <div id=":2lm" class="a3s" style="overflow: hidden;">
    <div bgcolor="#e1e8ed" style="margin:0;padding:0">
      <div class="adM">
      </div>
      <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#e1e8ed" style="background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px">
        <tbody>
        <tr>
          <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
            <table align="center" width="500" style="width:500px;padding:0;margin:0;line-height:1px;font-size:1px" bgcolor="#e1e8ed" cellpadding="0" cellspacing="0" border="0">

              <tbody>
              <tr>
                <td style="padding:0;margin:0;line-height:1px;font-size:1px;font-size:1px;color:#ffffff">
                  <a href="#151747266bead99f_" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-size:1px;color:#ffffff"></a>
                </td>
              </tr>

              <tr>
                <td style="min-width:500px;padding:0;margin:0;line-height:1px;font-size:1px">
                  <img src="https://ci5.googleusercontent.com/proxy/dZihfURYMr4ltOGMmSu7g3JXn4x0ue5ctCYAEwZ-rv1Lx8G77mg5v7CCPyDYzWr4uj2cpj6-5f0-LRFTlHdmZ14PL7dREA1lSKWeXxIwyQjf9Bdb1yJ3JcrK=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/spacer-1402696023930.png" style="min-width:500px;min-height:1px;margin:0;padding:0;display:block;border:none;outline:none" class="CToWUd">
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <% unless @feed_items.blank? %>
            <tr>
              <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
                <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                  <tr>
                    <td height="15" style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px"> &nbsp; </td>
                  </tr>
                  <tr align="left">
                    <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                      <table cellpadding="0" cellspacing="0" border="0" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                        <tbody>
                        <tr align="left">
                          <td align="left" width="15" style="width:15px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                          <td align="left" width="28" style="padding:0;margin:0;line-height:1px;font-size:1px">
                            <a href="https://getmeed.com/" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0" target="_blank"><img align="left" width="28" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_50/v1439937394/Meed_logo_green_fcfhir.png" style="width:28px;padding-bottom:2px;margin:0;padding:0;display:block;border:none;outline:none" class="CToWUd"></a>
                          </td>
                          <td align="left" width="10" style="width:10px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                          <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#66757f;font-size:16px;padding:0px;margin:0px;font-weight:400;line-height:100%;text-align:left">
                            <span class="il">Trending</span> in <%= @group_name %></td>
                          <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" align="left"></td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="14" style="height:14px;padding:0;margin:0;line-height:1px;font-size:1px">
                      <img width="1" height="1" style="display:block;margin:0;padding:0;display:block;border:none;outline:none" src="https://ci4.googleusercontent.com/proxy/Chrnlh462FBBgf_dV8y-NPp891pu99q954lgS6AnXGeQKQ3D8Qks8vLwr1xghfDMlYDuJIIm0V5CSavpv_PbYT5H-A0S2X5UkiE7naqPzVmsNg0zsN1g2h6LXpGqQ3FWOb4OpsrNBr0O15-31ym-f3TEgeRlKbsfQCEi1Ga61O6VmPtB-ywi--IJyybrmO_iX9r04wuepT1mHieK1uwYn5haWijjoCsMx26nW7HrMpQHvF0JuG8bKJTjbdo_iTH4rV5z2zEs2POCs1MpQph_xV6adJ2Xxz-C0GZkzdul=s0-d-e1-ft#https://twitter.com/scribe/ibis?t=1&amp;cn=ZmxleGlibGVfcmVjcw%3D%3D&amp;sig=dd072074f1a7719306993169e35ffbc5a249bf58&amp;al=1&amp;iid=9e74221180cc4ccfb6f223a6940c4627&amp;autoactions=1449357632&amp;uid=2307553615&amp;nid=244+20" class="CToWUd">
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                  <tr>
                    <td colspan="2" height="1" style="line-height:1px;display:block;height:1px;background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                  </tr>
                  </tbody>
                </table>
                <% @feed_items.each do |feed_item| %>
                    <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">

                      <tbody>
                      <tr>
                        <td style="padding:0;margin:0;line-height:1px;font-size:1px"><a href="<%= feed_item.story_url %>"
                                                                                        style="width:100%;min-height:100%;display:block;text-decoration:none;border-style:none;border:0;padding:0;margin:0"
                                                                                        height="100%" width="100%" target="_blank">
                          <div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:0;margin:0;line-height:1px;font-size:1px">

                              <tbody>
                              <tr>
                                <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                  <table width="100%" align="left" cellpadding="0" cellspacing="0" border="0" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                    <tbody>
                                    <tr>
                                      <td height="30" style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                    </tr>

                                    <tr>
                                      <td width="80%" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                        <table cellpadding="0" cellspacing="0" border="0" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                          <tbody>
                                          <tr>
                                            <td align="left" width="32" style="width:32px;padding:0;margin:0;line-height:1px;font-size:1px">
                                              <a href="<%= feed_item.story_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0" target="_blank"><img src="<%= feed_item[:user][:small_image_url] %>" width="40" height="40" style="margin:0;padding:0;display:block;border:none;outline:none;padding:0px;margin:0px;border-radius:40px;width:32;min-height:32" class="CToWUd"></a>
                                            </td>
                                            <td align="left" width="10" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                            <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                              <table align="left" cellpadding="0" cellspacing="0" border="0" style="padding:0px;margin:0px;padding:0;margin:0;line-height:1px;font-size:1px">
                                                <tbody>
                                                <tr>
                                                  <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                                    <table align="left" cellpadding="0" cellspacing="0" border="0" style="padding:0px;margin:0px;padding:0;margin:0;line-height:1px;font-size:1px">
                                                      <tbody>
                                                      <tr>
                                                        <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                                    <span style="display:block;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:13px;text-align:left;color:#8899a6;padding:0px;margin:0px;line-height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:289px"><strong><a href="<%= get_user_profile_url(feed_item[:user][:handle]) %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:13px;text-align:left;color:#292f33;padding:0px;margin:0px;line-height:18px" target="_blank"><%= feed_item[:user][:name] %></a></strong>&nbsp; <%= feed_item[:user][:headline] %>
                                            </span>
                                                      </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="2" align="left" height="12" style="height:12px;padding:0;margin:0;line-height:1px;font-size:1px">&nbsp;</td>
                                    </tr>

                                    <% if feed_item.caption.blank? %>

                                        <tr>
                                          <td colspan="2" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:13px;text-align:left;color:#292f33;padding:0px;margin:0px;font-weight:300;line-height:18px">
                                            <%= sanitize_text(feed_item.title).html_safe.truncate(200, :omission => '..') %>
                                          </td>
                                        </tr>
                                    <% else %>

                                        <tr>
                                          <td colspan="2" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:13px;text-align:left;color:#292f33;padding:0px;margin:0px;font-weight:300;line-height:18px">
                                            <%= sanitize_text(feed_item.caption).html_safe.truncate(200, :omission => '..') %>
                                          </td>
                                        </tr>

                                    <% end %>


                                    <tr>
                                      <td colspan="2" height="22" style="height:22px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <% unless feed_item.large_image_url.blank? %>
                                        <% if is_default_file_image(feed_item.large_image_url) %>
                                            <tr>
                                              <td colspan="2" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                                <a href="<%= feed_item.story_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0" target="_blank"><img src="<%= feed_item.large_image_url %>" width="50" style="margin:0;padding:0;display:block;border:none;outline:none;padding:0px;margin:0px;border-radius:4px;background-color:#8899a6" class="CToWUd"></a>
                                              </td>
                                            </tr>
                                        <% else %>
                                            <tr>
                                              <td colspan="2" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                                <a href="<%= feed_item.story_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0" target="_blank"><img src="<%= feed_item.large_image_url %>" width="200" style="margin:0;padding:0;display:block;border:none;outline:none;padding:0px;margin:0px;border-radius:4px;background-color:#8899a6" class="CToWUd"></a>
                                              </td>
                                            </tr>
                                        <% end %>

                                        <tr>
                                          <td colspan="2" height="22" style="height:22px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                        </tr>
                                    <% end %>
                                    <tr>
                                      <td colspan="2" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                        <table border="0" cellspacing="0" cellpadding="0" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                          <tbody>
                                          <tr>
                                            <td align="center" bgcolor="#ffffff" style="padding:0;margin:0;line-height:1px;padding-right:5px;font-size:1px;border-radius:4px;line-height:18px">
                                              <a href="<%= feed_item.story_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#52b7cb;text-decoration:none;border-radius:4px;padding:6px 19px;border:1px solid #52b7cb;display:inline-block;font-weight:bold" target="_blank">
                                                <strong>Upvote</strong>
                                              </a>
                                            </td>

                                            <td align="center" bgcolor="#ffffff" style="padding:0;margin:0;line-height:1px;padding-right:5px;font-size:1px;border-radius:4px;line-height:18px">
                                              <a href="<%= feed_item.story_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#fe4a49;text-decoration:none;border-radius:4px;padding:6px 19px;border:1px solid #fe4a49;display:inline-block;font-weight:bold" target="_blank">
                                                <strong>Follow <%= feed_item[:user][:first_name] %> </strong>
                                              </a>
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>

                                    </tbody>
                                  </table>
                                </td>
                                <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                              </tr>
                              <tr>
                                <td height="50" style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                              </tr>

                              </tbody>
                            </table>
                          </div>
                        </a></td>
                      </tr>

                      </tbody>
                    </table>


                    <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                      <tr>
                        <td colspan="2" height="1" style="line-height:1px;display:block;height:1px;background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                      </tr>
                      </tbody>
                    </table>

                <% end %>
              </td>
            </tr>
        <% end %>
        <% unless @jobs.blank? %>
            <tr>
              <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
                <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                  <tr>
                    <td height="15" style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px"> &nbsp; </td>
                  </tr>
                  <tr align="left">
                    <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                      <table cellpadding="0" cellspacing="0" border="0" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                        <tbody>
                        <tr align="left">
                          <td align="left" width="15" style="width:15px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                          <td align="left" width="28" style="padding:0;margin:0;line-height:1px;font-size:1px">
                            <a href="https://getmeed.com/" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0" target="_blank"><img align="left" width="28" src="https://res.cloudinary.com/resume/image/upload/c_scale,w_50/v1439937394/Meed_logo_green_fcfhir.png" style="width:28px;padding-bottom:2px;margin:0;padding:0;display:block;border:none;outline:none" class="CToWUd"></a>
                          </td>
                          <td align="left" width="10" style="width:10px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                          <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#66757f;font-size:16px;padding:0px;margin:0px;font-weight:400;line-height:100%;text-align:left">
                            <span class="il">Trending Jobs</span> in <%= @group_name %></td>
                          <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px" align="left"></td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="14" style="height:14px;padding:0;margin:0;line-height:1px;font-size:1px">
                      <img width="1" height="1" style="display:block;margin:0;padding:0;display:block;border:none;outline:none" src="https://ci4.googleusercontent.com/proxy/Chrnlh462FBBgf_dV8y-NPp891pu99q954lgS6AnXGeQKQ3D8Qks8vLwr1xghfDMlYDuJIIm0V5CSavpv_PbYT5H-A0S2X5UkiE7naqPzVmsNg0zsN1g2h6LXpGqQ3FWOb4OpsrNBr0O15-31ym-f3TEgeRlKbsfQCEi1Ga61O6VmPtB-ywi--IJyybrmO_iX9r04wuepT1mHieK1uwYn5haWijjoCsMx26nW7HrMpQHvF0JuG8bKJTjbdo_iTH4rV5z2zEs2POCs1MpQph_xV6adJ2Xxz-C0GZkzdul=s0-d-e1-ft#https://twitter.com/scribe/ibis?t=1&amp;cn=ZmxleGlibGVfcmVjcw%3D%3D&amp;sig=dd072074f1a7719306993169e35ffbc5a249bf58&amp;al=1&amp;iid=9e74221180cc4ccfb6f223a6940c4627&amp;autoactions=1449357632&amp;uid=2307553615&amp;nid=244+20" class="CToWUd">
                    </td>
                  </tr>
                  </tbody>
                </table>

                <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                  <tr>
                    <td colspan="2" height="1" style="line-height:1px;display:block;height:1px;background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                  </tr>
                  </tbody>
                </table>
                <% @jobs.each do |job| %>
                    <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">

                      <tbody>
                      <tr>
                        <td style="padding:0;margin:0;line-height:1px;font-size:1px"><a href="<%= job.job_url %>"
                                                                                        style="width:100%;min-height:100%;display:block;text-decoration:none;border-style:none;border:0;padding:0;margin:0"
                                                                                        height="100%" width="100%" target="_blank">
                          <div>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding:0;margin:0;line-height:1px;font-size:1px">

                              <tbody>
                              <tr>
                                <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                  <table width="100%" align="left" cellpadding="0" cellspacing="0" border="0" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                    <tbody>
                                    <tr>
                                      <td height="30" style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                    </tr>

                                    <tr>
                                      <td width="80%" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                        <table cellpadding="0" cellspacing="0" border="0" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                          <tbody>
                                          <tr>
                                            <td align="left" width="32" style="width:32px;padding:0;margin:0;line-height:1px;font-size:1px">
                                              <a href="<%= job.job_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0" target="_blank"><img src="<%= job[:company_logo] %>" width="40" height="40" style="margin:0;padding:0;display:block;border:none;outline:none;padding:0px;margin:0px;border-radius:5px;width:32;min-height:32" class="CToWUd"></a>
                                            </td>
                                            <td align="left" width="10" style="padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                            <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                              <table align="left" cellpadding="0" cellspacing="0" border="0" style="padding:0px;margin:0px;padding:0;margin:0;line-height:1px;font-size:1px">
                                                <tbody>
                                                <tr>
                                                  <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                                    <table align="left" cellpadding="0" cellspacing="0" border="0" style="padding:0px;margin:0px;padding:0;margin:0;line-height:1px;font-size:1px">
                                                      <tbody>
                                                      <tr>
                                                        <td align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                                    <span style="display:block;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:13px;text-align:left;color:#8899a6;padding:0px;margin:0px;line-height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:289px"><strong><a href="<%= job.job_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:13px;text-align:left;color:#292f33;padding:0px;margin:0px;line-height:18px" target="_blank"><%= job[:company] %></a></strong>&nbsp; <%= job[:title] %>
                                            </span>
                                                      </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td colspan="2" align="left" height="12" style="height:12px;padding:0;margin:0;line-height:1px;font-size:1px">&nbsp;</td>
                                    </tr>


                                    <tr>
                                      <td colspan="2" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:13px;text-align:left;color:#292f33;padding:0px;margin:0px;font-weight:300;line-height:18px">
                                        <%= sanitize_text(job.description).truncate(200, :omission => '..') %>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td colspan="2" height="22" style="height:22px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                      <td colspan="2" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                        <table border="0" cellspacing="0" cellpadding="0" align="left" style="padding:0;margin:0;line-height:1px;font-size:1px">
                                          <tbody>
                                          <tr>
                                            <td align="center" bgcolor="#ffffff" style="padding:0;margin:0;line-height:1px;padding-right:5px;font-size:1px;border-radius:4px;line-height:18px">
                                              <a href="<%= job.job_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#00a651;text-decoration:none;border-radius:4px;padding:6px 19px;border:1px solid #00a651;display:inline-block;font-weight:bold" target="_blank">
                                                <strong>Apply Now</strong>
                                              </a>
                                            </td>
                                            <td align="center" bgcolor="#ffffff" style="padding:0;margin:0;line-height:1px;padding-right:5px;font-size:1px;border-radius:4px;line-height:18px">
                                              <a href="<%= job.job_url %>" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#52b7cb;text-decoration:none;border-radius:4px;padding:6px 19px;border:1px solid #52b7cb;display:inline-block;font-weight:bold" target="_blank">
                                                <strong>Share </strong>
                                              </a>
                                            </td>
                                          </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>

                                    </tbody>
                                  </table>
                                </td>
                                <td width="50" style="width:50px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                              </tr>
                              <tr>
                                <td height="50" style="height:15px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                              </tr>

                              </tbody>
                            </table>
                          </div>
                        </a></td>
                      </tr>

                      </tbody>
                    </table>


                    <table align="center" width="500" style="width:500px;background-color:#ffffff;padding:0;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">
                      <tbody>
                      <tr>
                        <td colspan="2" height="1" style="line-height:1px;display:block;height:1px;background-color:#e1e8ed;padding:0;margin:0;line-height:1px;font-size:1px"></td>
                      </tr>
                      </tbody>
                    </table>

                <% end %>
              </td>
            </tr>

        <% end %>
        </tbody>
      </table>
      <table align="center" width="500" style="width:100%;background-color:#ffffff;padding-top: 13px;margin:0;line-height:1px;font-size:1px" cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr>
          <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#8899a6;font-size:12px; padding-top: 18px;;margin:0px;font-weight:normal;line-height:12px">
            <a href="https://getmeed.com" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#fff;background: #00a651;text-decoration:none;border-radius:4px;padding:6px 19px;border:1px solid #00a651;display:inline-block;font-weight:bold" target="_blank">
              <strong>SUBMIT ON MEED </strong>
            </a>
          </td>
        </tr>
        <tr>
          <td height="7" style="height:7px;line-height:1px;font-size:1px;padding:0;margin:0;line-height:1px;font-size:1px"></td>
        </tr>
        <tr>
          <td align="center" style="padding:0;margin:0;line-height:1px;font-size:1px">
                  <span> <a href="https://getmeed.com" style="text-decoration:none;border-style:none;border:0;padding:0;margin:0;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;color:#8899a6;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:12px"><span class="il">Meed</span>,
                    Inc. 645 Harrison Street, San Francisco, CA 94107</a> </span></td>
        </tr>
        <tr>
          <td height="26" style="height:26;padding:0;margin:0;line-height:1px;font-size:1px"></td>
        </tr>
        </tbody>
      </table>
      <div class="yj6qo"></div>
      <div class="adL">
      </div>
    </div>
    <div class="adL">

    </div>
  </div>
</div>