<html><head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
    body {
      margin: 0;
      mso-line-height-rule: exactly;
      padding: 0;
      min-width: 100%;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    td {
      padding: 0;
      vertical-align: top;
    }
    .spacer,
    .border {
      font-size: 1px;
      line-height: 1px;
    }
    .spacer {
      width: 100%;
    }
    img {
      border: 0;
      -ms-interpolation-mode: bicubic;
    }
    .image {
      font-size: 12px;
      Margin-bottom: 26px;
      mso-line-height-rule: at-least;
    }
    .image img {
      display: block;
    }
    .logo {
      mso-line-height-rule: at-least;
    }
    .logo img {
      display: block;
    }
    strong {
      font-weight: bold;
    }
    h1,
    span,
    span,
    p,
    ol,
    ul,
    li {
      Margin-top: 0;
    }
    ol,
    ul,
    li {
      padding-left: 0;
    }
    blockquote {
      Margin-top: 0;
      Margin-right: 0;
      Margin-bottom: 0;
      padding-right: 0;
    }
    .column-top {
      font-size: 52px;
      line-height: 52px;
    }
    .column-bottom {
      font-size: 26px;
      line-height: 26px;
    }
    .column {
      text-align: left;
    }
    .contents {
      table-layout: fixed;
      width: 100%;
    }
    .padded {
      padding-left: 90px;
      padding-right: 90px;
      word-break: break-word;
      word-wrap: break-word;
    }
    .wrapper {
      display: table;
      table-layout: fixed;
      width: 100%;
      min-width: 620px;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    table.wrapper {
      table-layout: fixed;
    }
    .one-col,
    .two-col,
    .three-col {
      Margin-left: auto;
      Margin-right: auto;
      width: 600px;
    }
    .centered {
      Margin-left: auto;
      Margin-right: auto;
    }
    .two-col .image {
      Margin-bottom: 22px;
    }
    .two-col .column-bottom {
      font-size: 30px;
      line-height: 30px;
    }
    .two-col .column {
      width: 300px;
    }
    .two-col .padded {
      padding-left: 25px;
      padding-right: 25px;
    }
    .three-col .image {
      Margin-bottom: 21px;
    }
    .three-col .column-bottom {
      font-size: 31px;
      line-height: 31px;
    }
    .three-col .column {
      width: 200px;
    }
    .three-col .padded {
      padding-left: 10px;
      padding-right: 10px;
    }
    @media only screen and (min-width: 0) {
      .wrapper {
        text-rendering: optimizeLegibility;
      }
    }
    @media only screen and (max-width: 620px) {
      [class=wrapper] {
        min-width: 320px !important;
        width: 100% !important;
      }
      [class=wrapper] .one-col,
      [class=wrapper] .two-col,
      [class=wrapper] .three-col {
        width: 320px !important;
      }
      [class=wrapper] .column,
      [class=wrapper] .gutter {
        display: block;
        float: left;
        width: 320px !important;
      }
      [class=wrapper] .padded {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
      [class=wrapper] .block {
        display: block !important;
      }
      [class=wrapper] .hide {
        display: none !important;
      }
      [class=wrapper] .image {
        margin-bottom: 26px !important;
      }
      [class=wrapper] .image img {
        height: auto !important;
        width: 100% !important;
      }
    }
    .shadow {
      font-size: 2px;
      line-height: 2px;
    }
    .one-col-bg,
    .two-col-bg,
    .three-col-bg,
    .one-col-feature-bg {
      width: 100%;
    }
    .one-col,
    .two-col,
    .three-col,
    .one-col-feature {
      table-layout: fixed;
    }
    .wrapper h1 {
      font-size: 36px;
      Margin-bottom: 24px;
    }
    .wrapper span {
      font-size: 26px;
      Margin-bottom: 20px;
    }
    .wrapper span {
      font-size: 16px;
      Margin-bottom: 16px;
    }
    .wrapper p,
    .wrapper ol,
    .wrapper ul {
      font-size: 16px;
    }
    .wrapper p a,
    .wrapper ol a,
    .wrapper ul a {
      text-decoration: underline;
    }
    .wrapper p a:hover,
    .wrapper ol a:hover,
    .wrapper ul a:hover {
      text-decoration: none;
    }
    .wrapper ol,
    .wrapper ul {
      Margin-left: 30px;
    }
    .wrapper li {
      Margin-bottom: 13px;
    }
    .wrapper a {
      text-decoration: none;
      transition: all 0.2s;
    }
    .wrapper blockquote {
      Margin-left: 0;
      Margin-right: 0;
    }
    .wrapper blockquote p {
      text-align: center;
    }
    .wrapper blockquote :last-child {
      Margin-bottom: 0 !important;
    }
    .btn {
      Margin-bottom: 26px;
      padding-bottom: 2px;
    }
    .btn a {
      background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);
      background-repeat: repeat-x;
      background-position: left top;
      border-radius: 3px;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      padding: 13px 35px 12px 35px;
      text-align: center;
      text-decoration: none;
    }
    .divider {
      font-size: 4px;
      line-height: 4px;
    }
    .one-col .column table:nth-last-child(2) td h1:last-child,
    .one-col .column table:nth-last-child(2) td span:last-child,
    .one-col .column table:nth-last-child(2) td span:last-child,
    .one-col .column table:nth-last-child(2) td p:last-child,
    .one-col .column table:nth-last-child(2) td ol:last-child,
    .one-col .column table:nth-last-child(2) td ul:last-child {
      Margin-bottom: 26px;
    }
    .one-col h1,
    .one-col .btn {
      text-align: center;
    }
    .one-col blockquote {
      Margin-bottom: 26px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .one-col blockquote p,
    .one-col blockquote ol,
    .one-col blockquote ul {
      font-size: 18px;
      line-height: 32px;
      Margin-left: -65px;
      Margin-right: -65px;
    }
    .one-col .divider {
      Margin-left: 185px;
      Margin-right: 185px;
      Margin-bottom: 26px;
    }
    .two-col .column table:nth-last-child(2) td h1:last-child,
    .two-col .column table:nth-last-child(2) td span:last-child,
    .two-col .column table:nth-last-child(2) td span:last-child,
    .two-col .column table:nth-last-child(2) td p:last-child,
    .two-col .column table:nth-last-child(2) td ol:last-child,
    .two-col .column table:nth-last-child(2) td ul:last-child {
      Margin-bottom: 22px;
    }
    .two-col h1 {
      font-size: 26px;
      Margin-bottom: 24px;
    }
    .two-col span {
      font-size: 20px;
      Margin-bottom: 16px;
    }
    .two-col span {
      font-size: 14px;
      Margin-bottom: 12px;
    }
    .two-col p,
    .two-col ol,
    .two-col ul {
      font-size: 14px;
    }
    .two-col ol,
    .two-col ul {
      Margin-left: 26px;
    }
    .two-col li {
      Margin-bottom: 11px;
    }
    .two-col .btn {
      Margin-bottom: 22px;
    }
    .two-col .btn a {
      font-size: 12px;
      line-height: 22px;
      padding: 10px 28px;
    }
    .two-col .divider {
      Margin-left: 100px;
      Margin-right: 100px;
      Margin-bottom: 22px;
    }
    .two-col blockquote {
      Margin-bottom: 22px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    .two-col blockquote p,
    .two-col blockquote ol,
    .two-col blockquote ul {
      font-size: 16px;
      line-height: 24px;
      Margin-left: 0;
      Margin-right: 0;
    }
    .three-col .column table:nth-last-child(2) td h1:last-child,
    .three-col .column table:nth-last-child(2) td span:last-child,
    .three-col .column table:nth-last-child(2) td span:last-child,
    .three-col .column table:nth-last-child(2) td p:last-child,
    .three-col .column table:nth-last-child(2) td ol:last-child,
    .three-col .column table:nth-last-child(2) td ul:last-child {
      Margin-bottom: 21px;
    }
    .three-col h1 {
      font-size: 20px;
      Margin-bottom: 14px;
    }
    .three-col span {
      font-size: 16px;
      Margin-bottom: 12px;
    }
    .three-col span {
      font-size: 13px;
      Margin-bottom: 10px;
    }
    .three-col p,
    .three-col ol,
    .three-col ul {
      font-size: 13px;
    }
    .three-col ol,
    .three-col ul {
      Margin-left: 20px;
    }
    .three-col li {
      Margin-bottom: 10px;
    }
    .three-col .btn {
      Margin-bottom: 21px;
    }
    .three-col .btn a {
      font-size: 11px;
      font-weight: 700;
      line-height: 19px;
      padding: 6px 18px 5px 18px;
    }
    .three-col .divider {
      Margin-left: 65px;
      Margin-right: 65px;
      Margin-bottom: 21px;
    }
    .three-col blockquote {
      padding: 12px 0;
      Margin-bottom: 21px;
    }
    .three-col blockquote p,
    .three-col blockquote ol,
    .three-col blockquote ul {
      font-size: 15px;
      line-height: 23px;
    }
    .one-col-feature .column {
      width: 600px;
    }
    .one-col-feature .column-top {
      font-size: 64px;
      line-height: 64px;
    }
    .one-col-feature .column-bottom {
      font-size: 38px;
      line-height: 38px;
    }
    .one-col-feature h1,
    .one-col-feature span,
    .one-col-feature span {
      text-align: center;
    }
    .one-col-feature span {
      font-weight: 400;
    }
    .one-col-feature p {
      text-align: center;
    }
    .one-col-feature blockquote {
      background-image: url(https://i4.createsend1.com/static/eb/master/05-slate/images/blockquote.png);
      background-repeat: no-repeat;
      background-position: center top;
      border-top: 0 solid transparent;
      border-bottom: 0 solid transparent;
      Margin-bottom: 23px;
      padding-top: 38px;
      padding-bottom: 0;
    }
    .one-col-feature blockquote p,
    .one-col-feature blockquote ol,
    .one-col-feature blockquote ul {
      Margin-left: 0;
      Margin-right: 0;
    }
    .one-col-feature .btn {
      text-align: center;
    }
    .one-col-feature .divider {
      Margin-left: 185px;
      Margin-right: 185px;
      Margin-bottom: 26px;
    }
    .preheader {
      width: 100%;
    }
    .preheader td,
    .preheader p {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.01em;
      line-height: 17px;
      width: 50%;
    }
    .preheader .title,
    .preheader .webversion {
      padding: 8px 32px;
    }
    .preheader .title {
      text-align: left;
    }
    .preheader .webversion {
      text-align: right;
    }
    .header {
      width: 100%;
    }
    .logo {
      padding-top: 16px;
      padding-bottom: 32px;
      width: 600px;
    }
    .logo div {
      font-size: 24px;
      letter-spacing: -0.01em;
      line-height: 32px;
    }
    .logo div a {
      text-decoration: none;
    }
    .logo div.logo-center {
      text-align: center;
    }
    .logo div.logo-center img {
      Margin-left: auto;
      Margin-right: auto;
    }
    .preheader a,
    .footer a {
      font-weight: 700;
      letter-spacing: 0.03em;
    }
    .footer {
      width: 100%;
    }
    .footer .inner {
      padding-top: 60px;
      padding-bottom: 55px;
    }
    .footer .cols {
      width: 600px;
    }
    .footer .left,
    .footer .right,
    .footer p {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.01em;
      line-height: 17px;
      padding-bottom: 22px;
    }
    .footer .left {
      text-align: left;
      width: 55%;
      padding-right: 5px;
    }
    .footer .right {
      text-align: right;
      width: 45%;
      padding-left: 5px;
    }
    .footer td.spacer {
      width: 7px;
    }
    .footer .social span {
      mso-text-raise: 6px;
    }
    .footer .social td {
      padding-right: 15px;
      padding-bottom: 20px;
      text-transform: uppercase;
      font-size: 11px;
    }
    .footer .social a {
      display: block;
      line-height: 21px;
      transition: opacity 0.2s;
    }
    .footer .social a:hover {
      opacity: 0.75;
    }
    @media (min-width: 0) {
      body {
        min-width: 100% !important;
      }
      [class=wrapper] {
        width: 100% !important;
      }
    }
    @media only screen and (max-width: 620px) {
      [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td h1:last-child,
      [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td h1:last-child,
      [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td h1:last-child,
      [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td span:last-child,
      [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td span:last-child,
      [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td span:last-child,
      [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td span:last-child,
      [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td span:last-child,
      [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td span:last-child,
      [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td p:last-child,
      [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td p:last-child,
      [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td p:last-child,
      [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ol:last-child,
      [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ol:last-child,
      [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ol:last-child,
      [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td ul:last-child,
      [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td ul:last-child,
      [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td ul:last-child {
        Margin-bottom: 26px !important;
      }
      [class=wrapper] .one-col .column:last-child table:nth-last-child(2) td blockquote :last-child,
      [class=wrapper] .two-col .column:last-child table:nth-last-child(2) td blockquote :last-child,
      [class=wrapper] .three-col .column:last-child table:nth-last-child(2) td blockquote :last-child {
        margin-bottom: 0 !important;
      }
      [class=wrapper] .preheader {
        display: none;
      }
      [class=wrapper] .header {
        margin: 0 auto !important;
      }
      [class=wrapper] .logo {
        padding-top: 32px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        width: 280px !important;
      }
      [class=wrapper] .logo img {
        max-width: 280px !important;
        height: auto !important;
      }
      [class=wrapper] .footer .inner {
        padding-top: 76px !important;
      }
      [class=wrapper] .footer .cols {
        width: 320px !important;
      }
      [class=wrapper] .footer .left,
      [class=wrapper] .footer .right {
        display: block !important;
        width: 300px !important;
        text-align: center !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin: 0 auto !important;
      }
      [class=wrapper] .social {
        margin-left: auto;
        margin-right: auto;
      }
      [class=wrapper] .social .spacer {
        display: none !important;
      }
      [class=wrapper] .social td {
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: block !important;
      }
      [class=wrapper] .social td:last-child {
        padding-bottom: 30px !important;
      }
      [class=wrapper] .first .column-bottom,
      [class=wrapper] .second .column-top,
      [class=wrapper] .three-col .second .column-bottom,
      [class=wrapper] .three-col .third .column-top {
        display: none;
      }
      [class=wrapper] h1 {
        font-size: 36px !important;
        margin-bottom: 24px !important;
      }
      [class=wrapper] span {
        font-size: 26px !important;
        margin-bottom: 20px !important;
      }
      [class=wrapper] span {
        font-size: 16px !important;
        line-height: 24px !important;
        margin-bottom: 16px !important;
      }
      [class=wrapper] p,
      [class=wrapper] ol,
      [class=wrapper] ul {
        font-size: 16px !important;
        line-height: 26px !important;
        margin-bottom: 26px !important;
      }
      [class=wrapper] ol,
      [class=wrapper] ul {
        margin-left: 32px !important;
      }
      [class=wrapper] li {
        margin-bottom: 13px !important;
      }
      [class=wrapper] .image {
        margin-bottom: 26px !important;
      }
      [class=wrapper] .divider {
        Margin-left: 115px !important;
        Margin-right: 115px !important;
        margin-bottom: 26px !important;
      }
      [class=wrapper] .btn {
        margin-bottom: 26px !important;
      }
      [class=wrapper] .btn a {
        display: block !important;
        font-size: 14px !important;
        font-weight: 700 !important;
        line-height: 24px !important;
        padding: 13px 10px 12px 10px !important;
      }
      [class=wrapper] blockquote {
        border-bottom: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 16px !important;
        padding-bottom: 0 !important;
      }
      [class=wrapper] blockquote:after {
        border-top: inherit;
        content: '';
        display: block;
        height: 26px;
        margin-top: 16px;
      }
      [class=wrapper] blockquote p,
      [class=wrapper] blockquote ol,
      [class=wrapper] blockquote ul {
        font-size: 18px !important;
        line-height: 32px !important;
        margin-left: -10px !important;
        margin-right: -10px !important;
      }
      [class=wrapper] blockquote ol,
      [class=wrapper] blockquote ul {
        margin-left: 10px !important;
      }
      [class=wrapper] blockquote :last-child {
        margin-bottom: 0 !important;
      }
      [class=wrapper] .one-col-feature .column-top {
        font-size: 62px !important;
        line-height: 62px !important;
      }
      [class=wrapper] .one-col-feature .column-bottom {
        font-size: 38px !important;
        line-height: 38px !important;
      }
      [class=wrapper] .one-col-feature blockquote {
        padding-top: 38px !important;
        padding-bottom: 25px !important;
      }
      [class=wrapper] .one-col-feature blockquote:after {
        display: none;
      }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      [class=wrapper] .one-col-feature blockquote {
        background-image: url(https://i6.createsend1.com/static/eb/master/05-slate/images/blockquote@2x.png) !important;
        background-size: 28px 26px !important;
      }
      [class=wrapper] .footer .twitter {
        background-image: url(https://i5.createsend1.com/static/eb/master/05-slate/images/twitter@2x.gif) !important;
        background-size: 150px 43px;
      }
      [class=wrapper] .footer .facebook {
        background-image: url(https://i7.createsend1.com/static/eb/master/05-slate/images/facebook@2x.gif) !important;
        background-size: 150px 43px;
      }
      [class=wrapper] .footer .forward {
        background-image: url(https://i8.createsend1.com/static/eb/master/05-slate/images/forward@2x.gif) !important;
        background-size: 150px 43px;
      }
    }
  </style>
  <!--[if (gte mso 9)|(IE)]>
  <style>
    body {
      background-color: #ffffff !important;
    }
    .column-top {
      mso-line-height-rule: exactly !important;
    }
  </style>
  <![endif]-->
  <meta name="robots" content="noindex,nofollow">
  <meta property="og:title" content="Meed Career Fair, Summer 2015 Apply Now!">
  <link href="https://css.createsend1.com/css/social.min.css?h=A3DB20FCcapricorn" media="screen,projection" rel="stylesheet" type="text/css">
</head>
<body style="margin: 0;mso-line-height-rule: exactly;padding: 0;min-width: 100%"><style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);@media only screen and (min-width: 0){body{background-color:#f6f9fb}}.wrapper,.preheader,.header,.one-col-bg,.emb-editor-canvas{background-color:#f6f9fb}h1{color:#2e3b4e}.wrapper h1{}.wrapper h1{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}@media only screen and (min-width: 0){.wrapper h1{font-family:Cabin,Avenir,sans-serif !important}}h1{}.one-col h1,.one-col-feature h1{line-height:44px}.two-col h1{line-height:34px}.three-col h1{line-height:28px}@media only screen and (max-width: 620px){h1{line-height:44px !important}}span{color:#2e3b4e}.wrapper span{}.wrapper
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   span{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}@media only screen and (min-width: 0){.wrapper span{font-family:Cabin,Avenir,sans-serif !important}}span{}.one-col span,.one-col-feature span{line-height:34px}.two-col span{line-height:28px}.three-col span{line-height:24px}@media only screen and (max-width: 620px){span{line-height:34px !important}}span{color:#2e3b4e}.wrapper span{}.wrapper span{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}@media only screen and (min-width: 0){.wrapper span{font-family:Cabin,Avenir,sans-serif !important}}span{}.one-col span,.one-col-feature span{line-height:24px}.two-col span{line-height:22px}.three-col span{line-height:19px}@media only screen and (max-width: 620px){span{line-height:24px !important}}p,ol,ul{color:#4e5561}.wrapper p,.wrapper ol,.wrapper ul{}.wrapper p,.wrapper ol,.wrapper ul{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}p,ol,ul{}.one-col p,.one-col ol,.one-col ul,.one-col-feature p,.one-col-feature ol,.one-col-feature
  ul{line-height:25px;Margin-bottom:25px;font-weight:300}.two-col p,.two-col ol,.two-col ul{font-weight:300;line-height:22px;Margin-bottom:22px}.three-col p,.three-col ol,.three-col ul{font-weight:300;line-height:21px;Margin-bottom:21px}@media only screen and (max-width: 620px){p,ol,ul{line-height:25px !important;Margin-bottom:25px !important;font-weight:300 !important}}.image{color:#4e5561}.image{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}.wrapper a{color:#2186b8}.wrapper a:hover{color:#19678d !important}.wrapper .logo div{color:#2e3b4e}.wrapper .logo div{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}@media only screen and (min-width: 0){.wrapper .logo div{font-family:Cabin,Avenir,sans-serif !important}}.wrapper .logo div a{color:#2e3b4e}.wrapper .logo div a:hover{color:#2e3b4e !important}.btn a{}.wrapper .btn a{}.wrapper .btn a{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}.btn a{}.btn a{font-weight:700}.wrapper .btn
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     a{background-color:#1a232b;box-shadow:0 2px 0 #0b0e12;color:#fff;text-shadow:0 1px 0 0 1px 0 #172027}.wrapper .btn a:hover{color:#fff !important;background-color:#2d3d4b !important;box-shadow:0 2px 0 #1e2831 !important}.one-col-bg{background-color:#f6f9fb}.two-col-bg{background-color:#ebf2f6}.three-col-bg{background-color:#e4edf3}.one-col-feature-bg{background-color:#dae6ee}blockquote p,blockquote ol,blockquote ul{}.wrapper blockquote p,.wrapper blockquote ol,.wrapper blockquote ul{}.wrapper blockquote p,.wrapper blockquote ol,.wrapper blockquote ul{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}blockquote p,blockquote ol,blockquote ul{}.one-col blockquote p,.one-col blockquote ol,.one-col blockquote ul,.one-col-feature blockquote p,.one-col-feature blockquote ol,.one-col-feature blockquote ul{line-height:27px}.two-col blockquote p,.two-col blockquote ol,.two-col blockquote
  ul{line-height:25px;font-weight:300}.three-col blockquote p,.three-col blockquote ol,.three-col blockquote ul{font-weight:300;line-height:24px}@media only screen and (max-width: 620px){blockquote p,blockquote ol,blockquote ul{line-height:27px !important}}.one-col blockquote{border-top:1px solid #dde0e2;border-bottom:1px solid #dde0e2}.one-col .divider{background-color:#dde0e2}.two-col blockquote{border-top:1px solid #d4dade;border-bottom:1px solid #d4dade}.two-col .divider{background-color:#d4dade}.three-col blockquote{border-top:1px solid #ced6db;border-bottom:1px solid #ced6db}.three-col .divider{background-color:#ced6db}.one-col-feature .divider{background-color:#c4cfd7}.one-col-feature .shadow{background-color:#c4cfd7}.preheader td,.preheader p{color:#b3b3b3}.wrapper .preheader td,.wrapper .preheader p{}.wrapper .preheader td,.wrapper .preheader p{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}.preheader
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         td,.preheader p{}.preheader td a,.preheader p a{font-weight:700}.wrapper .preheader a,.wrapper .footer a{color:#b3b3b3}.wrapper .preheader a:hover,.wrapper .footer a:hover{color:#8d8d8d !important}.footer{background-color:#f6f9fb}.footer .left,.footer .right,.footer p{color:#b3b3b3}.wrapper .footer .left,.wrapper .footer .right,.wrapper .footer p{}.wrapper .footer .left,.wrapper .footer .right,.wrapper .footer p{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}.footer .left,.footer .right,.footer p{}.footer .left a,.footer .right a,.footer p a{font-weight:700}.footer .social a{}.footer .social a{font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;}@media (min-width:0){body{background-color:#f6f9fb}}
</style>
<center class="wrapper" style="display: table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #f6f9fb">
  <table class="preheader" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #f6f9fb">
    <tbody><tr>
      <td class="title" style="padding: 8px 32px;vertical-align: top;font-size: 11px;font-weight: 400;letter-spacing: 0.01em;line-height: 17px;width: 50%;color: #b3b3b3;text-align: left;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">

      </td>
      <td class="webversion" style="padding: 8px 32px;vertical-align: top;font-size: 11px;font-weight: 400;letter-spacing: 0.01em;line-height: 17px;width: 50%;color: #b3b3b3;text-align: right;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
        <div>No Images? <a style="font-weight: 700;letter-spacing: 0.03em;text-decoration: none;transition: all 0.2s;color: #b3b3b3" href="http://resume.createsend1.com/t/t-e-tuzuuk-l-d/" target="_blank">Click here</a></div>
      </td>
    </tr>
    </tbody></table>
  <table class="header" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #f6f9fb">
    <tbody><tr>
      <td style="padding: 0;vertical-align: top">&nbsp;</td>
      <td class="logo" style="padding: 0;vertical-align: top;mso-line-height-rule: at-least;padding-top: 16px;padding-bottom: 32px;width: 600px"><div class="logo-center" style="font-size: 24px;letter-spacing: -0.01em;line-height: 32px;color: #2e3b4e;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;text-align: center" align="center" id="emb-email-header"><a style="text-decoration: none;transition: all 0.2s;color: #2e3b4e" href="http://getmeed.com" target="_blank"><img style="border: 0;-ms-interpolation-mode: bicubic;display: block;Margin-left: auto;Margin-right: auto;max-width: 50px" src="https://i1.createsend1.com/ei/t/49/F13/02A/163335/csfinal/meed.png" alt="" ></a></div></td>
      <td style="padding: 0;vertical-align: top">&nbsp;</td>
    </tr>
    </tbody></table>

  <table class="one-col-bg" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #f6f9fb">
    <tbody><tr>
      <td style="padding: 0;vertical-align: top" align="center">
        <table class="one-col centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;table-layout: fixed">
          <tbody><tr>
            <td class="column" style="padding: 0;vertical-align: top;text-align: left">
              <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                <tbody><tr>
                  <td class="padded" style="padding: 0;vertical-align: top;padding-left: 90px;padding-right: 90px;word-break: break-word;word-wrap: break-word">

                      <h1 style="Margin-top: 0;color: #2e3b4e;font-size: 24px;Margin-bottom: 24px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif; text-align: center;line-height: 44px">
                        <a style="text-decoration: none; color:#00a651" href="https://getmeed.com/meedfair" target="_blank">
                        Meed Fair - Summer 2015
                        </a>
                      </h1>
                    <p style="Margin-top: 0;color: #4e5561;font-size: 16px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 25px;Margin-bottom: 25px;font-weight: 300">
                      You are invited to participate in Meed Fair, an online career fair across top 28 universities.&nbsp;
                    </p>
                    <p style="Margin-top: 0;color: #4e5561;font-size: 16px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 25px;Margin-bottom: 26px;font-weight: 300">
                      Following are few jobs matching your profile from the fair!
                    </p>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody></table>

  <table class="three-col-bg" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #e4edf3">
    <tbody><tr>
      <td style="padding: 0;vertical-align: top" align="center">
        <table class="three-col centered" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px;table-layout: fixed">
          <tbody><tr>
            <% if @jobs.count() > 0 %>
              <td class="column first" style="padding: 0;vertical-align: top;text-align: left;width: 200px">
                <div><div class="column-top" style="font-size: 52px;line-height: 52px">&nbsp;</div></div>
                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="image" style="font-size: 12px; height: 100px; max-width: 100%; mso-line-height-rule: at-least;color: #4e5561;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;" align="center">
                        <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;" src="<%= @jobs[0][:company_logo] %>" alt="" >
                      </div>

                    </td>
                  </tr>
                  </tbody></table>

                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%; height: 150px">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">
                      <span style="Margin-top: 0;color: #2e3b4e;font-size: 18px;Margin-bottom: 14px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 28px;text-align: center"><a href=""><%= @jobs[0][:company] %></a></span>
                      <span style="Margin-top: 0;color: #999999;font-size: 14px;Margin-botton: 14px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 25px"><%= @jobs[0][:title] %></span>
                    </td>
                  </tr>
                  </tbody></table>

                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="btn" style="Margin-bottom: 21px;padding-bottom: 2px;text-align: center">
                        <!--[if !mso]--><a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; box-shadow: 0 2px 0 #0b0e12;text-shadow: 0 1px 0 0 1px 0 #172027" href="<%= get_job_url(encode_id(@jobs[1].id)) %>" target="_blank">View Job</a><!--[endif]-->
                        <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="<%= get_job_url(encode_id(@jobs[0].id)) %>" style="width:84px" arcsize="10%" fill="t" stroke="f"><v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#5cb85c"></v:fill><v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,5px,0px,4px"><center style="font-size:11px;line-height:19px;color:#FFFFFF;font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:3px">View Job</center></v:textbox></v:roundrect><![endif]--></div>

                    </td>
                  </tr>
                  </tbody></table>

                <div class="column-bottom" style="font-size: 31px;line-height: 31px">&nbsp;</div>
              </td>
            <% end %>
            <% if @jobs.count() > 1 %>
              <td class="column second" style="padding: 0;vertical-align: top;text-align: left;width: 200px">
                <div><div class="column-top" style="font-size: 52px;line-height: 52px">&nbsp;</div></div>
                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="image" style="font-size: 12px; height: 100px; max-width: 100%; mso-line-height-rule: at-least;color: #4e5561;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;" align="center">
                        <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;" src="<%= @jobs[1][:company_logo] %>" alt="" >
                      </div>

                    </td>
                  </tr>
                  </tbody></table>

                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%; height: 150px">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">
                      <span style="Margin-top: 0;color: #2e3b4e;font-size: 18px;Margin-bottom: 14px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 28px;text-align: center"><a href=""><%= @jobs[1][:company] %></a></span>
                      <span style="Margin-top: 0;color: #999999;font-size: 14px;Margin-botton: 14px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 25px"><%= @jobs[1][:title] %></span>
                    </td>
                  </tr>
                  </tbody></table>


                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="btn" style="Margin-bottom: 21px;padding-bottom: 2px;text-align: center">
                        <!--[if !mso]--><a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; box-shadow: 0 2px 0 #0b0e12;text-shadow: 0 1px 0 0 1px 0 #172027" href="<%= get_job_url(encode_id(@jobs[1].id)) %>" target="_blank">View Job</a><!--[endif]-->
                        <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="<%= get_job_url(encode_id(@jobs[1].id)) %>" style="width:84px" arcsize="10%" fill="t" stroke="f"><v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#5cb85c"></v:fill><v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,5px,0px,4px"><center style="font-size:11px;line-height:19px;color:#FFFFFF;font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:3px">View Job</center></v:textbox></v:roundrect><![endif]--></div>

                    </td>
                  </tr>
                  </tbody></table>

                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="divider" style="font-size: 4px;line-height: 4px;Margin-left: 0px;Margin-right: 0px;Margin-bottom: 21px;background-color: #ced6db">&nbsp;</div>

                    </td>
                  </tr>
                  </tbody></table>

                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="btn" style="Margin-bottom: 21px;padding-bottom: 2px;text-align: center">
                        <!--[if !mso]--><a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; box-shadow: 0 2px 0 #0b0e12;text-shadow: 0 1px 0 0 1px 0 #172027" href="http://getmeed.com/home#jobs" target="_blank">View All Jobs</a><!--[endif]-->
                        <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="http://getmeed.com/home#jobs" style="width:84px" arcsize="10%" fill="t" stroke="f"><v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#5cb85c"></v:fill><v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,5px,0px,4px"><center style="font-size:11px;line-height:19px;color:#FFFFFF;font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:3px">View All Jobs</center></v:textbox></v:roundrect><![endif]--></div>
                    </td>
                  </tr>
                  </tbody></table>

                <div class="column-bottom" style="font-size: 31px;line-height: 31px">&nbsp;</div>
              </td>
            <% end %>
            <% if @jobs.count() > 2 %>
              <td class="column third" style="padding: 0;vertical-align: top;text-align: left;width: 200px">
                <div><div class="column-top" style="font-size: 52px;line-height: 52px">&nbsp;</div></div>
                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="image" style="font-size: 12px; height: 100px; max-width: 100%; mso-line-height-rule: at-least;color: #4e5561;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;" align="center">
                        <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;" src="<%= @jobs[2][:company_logo] %>" alt="" >
                      </div>

                    </td>
                  </tr>
                  </tbody></table>

                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%; height: 150px">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">
                      <span style="Margin-top: 0;color: #2e3b4e;font-size: 18px;Margin-bottom: 14px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 28px;text-align: center"><a href=""><%= @jobs[2][:company] %></a></span>
                      <span style="Margin-top: 0;color: #999999;font-size: 14px;Margin-botton: 14px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 25px"><%= @jobs[2][:title] %></span>
                    </td>
                  </tr>
                  </tbody></table>


                <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%">
                  <tbody><tr>
                    <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 10px;word-break: break-word;word-wrap: break-word">

                      <div class="btn" style="Margin-bottom: 21px;padding-bottom: 2px;text-align: center">
                        <!--[if !mso]--><a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; box-shadow: 0 2px 0 #0b0e12;text-shadow: 0 1px 0 0 1px 0 #172027" href="<%= get_job_url(encode_id(@jobs[2].id)) %>" target="_blank">View Job</a><!--[endif]-->
                        <!--[if mso]><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="<%= get_job_url(encode_id(@jobs[2].id)) %>" style="width:84px" arcsize="10%" fill="t" stroke="f"><v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#5cb85c"></v:fill><v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow><v:textbox style="mso-fit-shape-to-text:t" inset="0px,5px,0px,4px"><center style="font-size:11px;line-height:19px;color:#FFFFFF;font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:3px">View Job</center></v:textbox></v:roundrect><![endif]--></div>

                    </td>
                  </tr>
                  </tbody></table>

                <div class="column-bottom" style="font-size: 31px;line-height: 31px">&nbsp;</div>
              </td>
            <% end %>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody></table>

  <table class="footer" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #f6f9fb">
    <tbody><tr>
      <td class="inner" style="padding: 0;vertical-align: top;padding-top: 25px;" align="center">
        <table class="cols" style="border-collapse: collapse;border-spacing: 0;width: 600px">
          <tbody>
          <tr>
            <td>
              <span style="Margin-top: 0;color: #999999;font-size: 12px;Margin-botton: 14px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;line-height: 25px">Forward to friends who are looking for opportunities</span>
            </td>
          </tr>
          <tr>
            <td class="left" style="padding: 0;vertical-align: top;font-size: 11px;font-weight: 400;letter-spacing: 0.01em;line-height: 17px;padding-bottom: 22px;text-align: left;width: 55%;padding-right: 5px;color: #b3b3b3;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;">
              <table class="social" style="border-collapse: collapse;border-spacing: 0">
                <tbody><tr>
                  <td style="padding: 0;vertical-align: top;padding-right: 15px;padding-bottom: 20px;text-transform: uppercase;font-size: 11px">
                    <a style="font-weight: 700;letter-spacing: 0.03em;text-decoration: none;transition: opacity 0.2s;color: #b3b3b3;display: block;line-height: 21px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;" href="https://twitter.com/intent/tweet?text=Meed%20Career%20Fair%2C%20Summer%202015%20Apply%20Now!%20%23meedfair&url=https%3A%2F%2Fgetmeed.com%2Fmeedfair" target="_blank"><img style="border: 0;-ms-interpolation-mode: bicubic" src="https://i4.createsend1.com/static/eb/master/05-slate/images/twitter-dark.png" width="25" height="20" align="top"><span style="mso-text-raise: 6px">Tweet</span></a>
                  </td>
                  <td style="padding: 0;vertical-align: top;padding-right: 15px;padding-bottom: 20px;text-transform: uppercase;font-size: 11px">
                    <a style="font-weight: 700;letter-spacing: 0.03em;text-decoration: none;transition: opacity 0.2s;color: #b3b3b3;display: block;line-height: 21px;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;" href="https://www.facebook.com/sharer/sharer.php?u=https://getmeed.com/meedfair" rel="cs_facebox" cs_likeurl="/t/t-fb-tuzuuk-l-p/?act=like" target="_blank"><img style="border: 0;-ms-interpolation-mode: bicubic" src="https://i5.createsend1.com/static/eb/master/05-slate/images/facebook-dark.png" width="25" height="20" align="top"><span style="mso-text-raise: 6px">Share</span></a>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </td>
    </tr>
    </tbody></table>
</center>
<img style="border: 0 !important;-ms-interpolation-mode: bicubic;visibility: hidden !important;display: block !important;height: 1px !important;width: 1px !important;margin: 0 !important;padding: 0 !important" src="https://resume.createsend1.com/t/t-o-tuzuuk-l/o.gif" width="1" height="1" border="0" alt="">
<%= render 'notifier/email_footer' %>
</body></html>