<html>
<head>
</head>
<body>
<div style="margin:0;padding:0;min-width:100%;background-color:#f5f7fa">
  <center style="display:table;table-layout:fixed;width:100%;min-width:620px;background-color:#f5f7fa">
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px">
      <tbody>
        <tr>
          <td style="padding:0;vertical-align:top">
            <table style="border-collapse:collapse;border-spacing:0" align="right">
              <tbody>
                <tr>
                  <td style="padding:0;vertical-align:top;letter-spacing:0.01em;font-style:normal;line-height:17px;font-weight:400;font-size:11px;color:#b9b9b9;font-family:sans-serif;padding-bottom:18px;padding-top:32px;text-align:right;width:280px">
                    <div style="font-size:1px;line-height:2px;width:100%">Your weekly summary of awesomeness</div>

                    <div>No Images? <a style="letter-spacing:0.03em;font-style:normal;font-weight:700;text-decoration:none;color:#b9b9b9" href="http://resume.cmail2.com/t/t-e-iyyhuut-l-t/" target="_blank">Click here</a></div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="border-collapse:collapse;border-spacing:0" align="left">
              <tbody>
                <tr>
                  <td style="padding:0;vertical-align:top;padding-bottom:18px;padding-top:32px;width:280px">
                    <div style="color:#555;font-size:24px;font-weight:700;line-height:30px;font-family:sans-serif" align="left"><img style="border:0;display:block;max-width:300px" src="https://ci6.googleusercontent.com/proxy/RZgFLxdhkZXLFXcBqeWTKyy5bfwwlM1TVJLaaCGXZjHvAo5ABSPyioCLZmfys3HquQ9rNyBoWaFo0GQxaGjKO8yT4PCSro5Ds2PyJcJ8bTwvn-xTq7-pfJZamBg=s0-d-e1-ft#http://i1.cmail2.com/ei/t/83/BB6/163/170121/csfinal/meed_blog_logo.png" alt="" width="200" height="67"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#dddee1;Margin-left:auto;Margin-right:auto" width="602">
      <tbody>
        <tr>
          <td style="padding:0;vertical-align:top">&#8203;</td>
        </tr>
      </tbody>
    </table>
    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto" id="main_article">
      <tbody>
        <tr>
          <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
          <td style="padding:0;vertical-align:top">
            <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;table-layout:fixed">
              <tbody>
                <tr>
                  <td style="padding:0;vertical-align:top;text-align:left">
                    <div><div style="font-size:32px;line-height:32px">&nbsp;</div></div>
                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                      <tbody>
                        <tr>
                          <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                            <div style="min-height:15px">&nbsp;</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="font-size:12px;Margin-bottom:24px;color:#60666d;font-family:sans-serif" align="center" id="article_image">
                      <div style="border:0;display: table-cell;max-width: 900px;height: 400px; width: 600px; vertical-align: middle; text-align: center; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= @article_image_url %>') no-repeat 80% top;background-size:100%">
                        <div style="display: inline; color: white;">
                          <h1 style="font-weight: 300; font-size: 35px; line-height: 1.5"><%= @article_image_h1 %></h1>
                          <h2 style="font-weight: 300; font-size: 25px; line-height: 1.5"><%= @article_image_h2 %></h2>
                          <div class="btn" style="Margin-bottom: 21px;padding-bottom: 2px;text-align: center">
                            <a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; text-shadow: 0 1px 0 0 1px 0 #172027" href="<%= @article_url %>" target="_blank">
                              <%= @article_text %>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%" id="announcement">
                      <tbody><tr>
                        <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                          <h2 style="Margin-top:0;color:#44a8c7;font-weight:700;font-size:24px;Margin-bottom:16px;font-family:sans-serif;line-height:32px;text-align:center">Welcome to Meed Digest</h2>
                          <p style="Margin-top:0;color:#60666d;font-size:15px;font-family:sans-serif;line-height:24px;Margin-bottom:24px;text-align:left">Hey <%= @user.first_name %>,</p>
                          <p style="Margin-top:0;color:#60666d;font-size:15px;font-family:sans-serif;line-height:24px;Margin-bottom:24px;text-align:center">We get it, getting constant email updates can get kind of annoying, and we know you may not always be interested in looking for jobs. Thats's why we designed the Meed Digest. Once a week, we'll send you a quick update summarizing some things we know you won't want to miss. In the Digest you'll find everything from new jobs and helpful tips, to updates on what other students are up to, and important Meed announcements -- curated specifically with you and your profile in mind.</p>
                          <p style="Margin-top:0;color:#60666d;font-size:15px;font-family:sans-serif;line-height:24px;Margin-bottom:24px;text-align:center">We'll continue to adjust your Digest to fit your needs, so feel free to reach out to us with any feedback. If you're not interested in receiving updates, click the link below to change your email preferences.</p>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <div style="font-size:8px;line-height:8px">&nbsp;</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
        </tr>
      </tbody>
    </table>

    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#dddee1;Margin-left:auto;Margin-right:auto" width="602">
      <tbody><tr style="font-size:1px;line-height:1px;background-color:#e3e3e3;height:1px">
        <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
        <td style="padding:0;vertical-align:top;line-height:1px">&#8203;</td>
        <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
      </tr>
      </tbody>
    </table>

    <% unless @jobs.blank? %>
      <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
        <tbody><tr>
          <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
          <td style="padding:0;vertical-align:top">
            <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;table-layout:fixed">
              <tbody>
                <tr>
                  <td style="padding:0;vertical-align:top;text-align:left;width:300px">
                    <div><div style="font-size:32px;line-height:32px">&nbsp;</div></div>
                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:300px">
                      <tbody>
                      <tr>
                        <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:24px;word-break:break-word;word-wrap:break-word">
                          <h2 style="Margin-top:0;color:#44a8c7;font-weight:700;font-size:20px;Margin-bottom:14px;font-family:sans-serif;line-height:26px;text-align:center"><%= @jobs[0].title %></h2>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:300px">
                      <tbody>
                      <tr>
                        <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:24px;word-break:break-word;word-wrap:break-word">
                          <div style="font-size:12px;Margin-bottom:21px;color:#60666d;font-family:sans-serif; height:150px;" align="center">
                            <%= process_text(@jobs[0].description.truncate(300)).gsub("<br>", '') %>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:300px">
                      <tbody>
                        <tr>
                          <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:24px;word-break:break-word;word-wrap:break-word">
                            <div class="btn" style="Margin-bottom: 21px;padding-bottom: 2px;text-align: center">
                              <!--[if !mso]-->
                              <a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; text-shadow: 0 1px 0 0 1px 0 #172027" href="<%= @jobs[0][:url] %>" target="_blank">
                                Apply
                              </a>
                              <!--[endif]-->
                              <!--[if mso]>
                              <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="/" style="width:84px" arcsize="10%" fill="t" stroke="f">
                                <v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#5cb85c">
                                </v:fill>
                                <v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow>
                                <v:textbox style="mso-fit-shape-to-text:t" inset="0px,5px,0px,4px">
                                  <center style="font-size:11px;line-height:19px;color:#FFFFFF;font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:3px">
                                  Apply
                                  </center>
                                </v:textbox>
                              </v:roundrect>
                              <![endif]-->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="font-size:11px;line-height:11px">&nbsp;</div>
                  </td>
                  <td style="padding:0;vertical-align:top;text-align:left;width:300px">
                    <div><div style="font-size:32px;line-height:32px">&nbsp;</div></div>
                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:300px">
                      <tbody>
                      <tr>
                        <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:24px;word-break:break-word;word-wrap:break-word">
                          <h2 style="Margin-top:0;color:#44a8c7;font-weight:700;font-size:20px;Margin-bottom:14px;font-family:sans-serif;line-height:26px;text-align:center"><%= @jobs[1].title %></h2>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:300px">
                      <tbody>
                        <tr>
                          <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:24px;word-break:break-word;word-wrap:break-word">
                            <div style="font-size:12px;Margin-bottom:21px;color:#60666d;font-family:sans-serif; height: 150px" align="center">
                              <%= process_text(@jobs[1].description.truncate(300)).gsub("<br>", '') %>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:300px">
                      <tbody>
                        <tr>
                          <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:24px;word-break:break-word;word-wrap:break-word">
                            <div class="btn" style="Margin-bottom: 21px;padding-bottom: 2px;text-align: center">
                              <!--[if !mso]-->
                              <a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; text-shadow: 0 1px 0 0 1px 0 #172027" href="<%= @jobs[1][:url] %>" target="_blank">
                                Apply
                              </a>
                              <!--[endif]-->
                              <!--[if mso]>
                              <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="/" style="width:84px" arcsize="10%" fill="t" stroke="f">
                                <v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#5cb85c">
                                </v:fill>
                                <v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow>
                                <v:textbox style="mso-fit-shape-to-text:t" inset="0px,5px,0px,4px">
                                  <center style="font-size:11px;line-height:19px;color:#FFFFFF;font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:3px">
                                  Apply
                                  </center>
                                </v:textbox>
                              </v:roundrect>
                              <![endif]-->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="font-size:11px;line-height:11px">&nbsp;</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;table-layout:fixed; text-align:center; padding-bottom: 20px">
              <a style="font-size: 20px; color: #44a8c7; text-decoration: none" href="<%= get_host_name_url() %>/home#jobs" target="_blank">
                View All Jobs ...
              </a>
            </div>
          </td>
          <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
        </tr>
        </tbody>
      </table>
    <% end %>

    <table style="border-collapse:collapse;border-spacing:0;font-size:1px;line-height:1px;background-color:#dddee1;Margin-left:auto;Margin-right:auto" width="602">
      <tbody><tr><td style="padding:0;vertical-align:top">&nbsp;</td></tr>
      </tbody>
    </table>

    <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto">
      <tbody>
        <tr>
          <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
          <td style="padding:0;vertical-align:top">
            <table style="border-collapse:collapse;border-spacing:0;Margin-left:auto;Margin-right:auto;width:600px;background-color:#ffffff;table-layout:fixed">
              <tbody>
                <tr>
                  <td style="padding:0;vertical-align:top;text-align:left;width:300px">
                    <div><div style="font-size:32px;line-height:32px">&nbsp;</div></div>
                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                      <tbody>
                        <tr>
                          <td style="padding:0;vertical-align:top;padding-left:32px;padding-right:24px;word-break:break-word;word-wrap:break-word">
                            <div style="font-size:12px;Margin-bottom:21px;color:#60666d;font-family:sans-serif" align="center">
                              <img style="border:0;display:block;max-width:480px" src="http://res.cloudinary.com/resume/image/upload/c_fit,h_400,r_6,w_266/v1412413752/lvvunwwgdo4cj8qfag4e.jpg" alt="" width="244" height="200">
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="font-size:11px;line-height:11px">&nbsp;</div>
                  </td>
                  <td style="padding:0;vertical-align:top;text-align:left;width:300px">
                    <div><div style="font-size:32px;line-height:32px">&nbsp;</div></div>
                    <table style="border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%">
                      <tbody>
                        <tr>
                          <td style="padding:0;vertical-align:top;padding-left:24px;padding-right:32px;word-break:break-word;word-wrap:break-word">
                            <h2 style="Margin-top:0;color:#44a8c7;font-weight:700;font-size:20px;Margin-bottom:14px;font-family:sans-serif;line-height:26px">How to get a job at a startup</h2>
                            <p style="Margin-top:0;color:#60666d;font-size:13px;font-family:sans-serif;line-height:21px;Margin-bottom:21px">Fresh out of university -- not quite bright eyed and bushy tailed, but definitely ready to start on the road to success -- startups give graduates the opportunity to carve out meaningful roles for themselves.</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="font-size:11px;line-height:11px">&nbsp;</div>
                  </td>
                </tr>
                <tr>
                  <td style="width: 600px; text-align: center">
                    <div class="btn" style="padding-bottom: 21px;text-align: center; width: 600px">
                      <!--[if !mso]-->
                      <a style="background-image: url(https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png);background-repeat: repeat-x;background-position: left top;border-radius: 3px;display: inline-block;font-size: 11px;font-weight: 700;line-height: 19px;padding: 6px 18px 5px 18px;text-align: center;text-decoration: none;transition: all 0.2s;color: #fff;font-family: 'Open Sans', 'lucida grande', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;background-color: #5cb85c;border-color: #4cae4c; text-shadow: 0 1px 0 0 1px 0 #172027" href="https://blog.getmeed.com/resu.me/2015/7/30/how-to-get-a-job-at-a-startup" target="_blank">
                        Read More
                      </a>
                      <!--[endif]-->
                      <!--[if mso]>
                      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" href="/" style="width:84px" arcsize="10%" fill="t" stroke="f">
                        <v:fill type="tile" src="https://i3.createsend1.com/static/eb/master/05-slate/images/btn.png" color="#5cb85c">
                        </v:fill>
                        <v:shadow on="t" color="#0B0E12" offset="0,2px"></v:shadow>
                        <v:textbox style="mso-fit-shape-to-text:t" inset="0px,5px,0px,4px">
                          <center style="font-size:11px;line-height:19px;color:#FFFFFF;font-family:"Open Sans", "lucida grande", arial, verdana, "lucida sans unicode", tahoma, sans-serif;font-weight:700;mso-line-height-rule:exactly;mso-text-raise:3px">
                          View Article
                          </center>
                        </v:textbox>
                      </v:roundrect>
                      <![endif]-->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td style="padding:0;vertical-align:top;font-size:1px;line-height:1px;background-color:#dddee1;width:1px">&#8203;</td>
        </tr>
      </tbody>
    </table>

    <%= render 'notifier/email_footer' %>
  </center>
</div>
</body>
</html>