<html style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: transparent;">
  <head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <title style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300" rel="stylesheet" type="text/css" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100" rel="stylesheet" type="text/css" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
  </head>
  <body style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;background-color: #fff;">
    <center class="wrapper" style="display: table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #fbfbfb;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
      <table class="gmail" style="border-collapse: collapse;border-spacing: 0;width: 650px;min-width: 650px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;"><tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;"><td style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&nbsp;</td></tr></tbody></table>
      <table class="preheader centered" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
          <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
            <td style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
              <table style="border-collapse: collapse;border-spacing: 0;width: 602px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
                <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                  <td class="webversion" style="padding: 0;vertical-align: top;padding-top: 10px;padding-bottom: 12px;font-size: 12px;line-height: 21px;text-align: right;width: 300px;color: #999;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    No Images? <a style="text-decoration: none;transition: all .2s;color: #999;font-weight: bold;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;" href="http://resume.createsend1.com/t/t-e-ilhuklk-l-y/" target="_blank">Click here</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="header centered" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 602px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;"><td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&nbsp;</td></tr>
          <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
            <td class="logo" style="padding: 32px 0;vertical-align: top;mso-line-height-rule: at-least;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
              <div class="logo-center" style="font-size: 26px;font-weight: 700;letter-spacing: -0.02em;line-height: 32px;color: #41637e;font-family: sans-serif;text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;" align="center" id="emb-email-header">
                <a style="text-decoration: none;transition: all .2s;color: #41637e;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;" href="http://resume.createsend1.com/t/t-l-ilhuklk-l-r/" target="_blank">
                  <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;margin-left: auto;margin-right: auto;max-width: 105px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align: middle;page-break-inside: avoid;" src="https://i1.createsend1.com/ei/t/8C/73A/B6E/154814/csfinal/meed_logo.png" alt="Meed" width="70" height="80">
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="border" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #e9e9e9;margin-left: auto;margin-right: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;" width="602">
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
          <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
            <td style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&#8203;</td>
          </tr>
        </tbody>
      </table>

      <table class="centered" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&#8203;</td>
          <td style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <table class="one-col" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 600px;background-color: #ffffff;font-size: 14px;table-layout: fixed;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
              <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                <td class="column" style="padding: 0;vertical-align: top;text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><div class="column-top" style="font-size: 32px;line-height: 32px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&nbsp;</div></div>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
                    <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                      <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                        <td class="padded" style="padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: keep-all;word-wrap: break-word;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">

                          <p style="margin-top: 0;color: #565656;font-family: sans-serif;font-size: 16px;line-height: 25px;margin-bottom: 25px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Top recommended jobs matching your profile this week:</p>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
                    <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <% @jobs.each do |job| %>
                      <tr class="blog-archive" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                        <td class="padded" style="padding:5px;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: keep-all;word-wrap: break-word;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                          <table style="width: 100%;border: 0px solid #ccc;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border-spacing: 0;border-collapse: collapse;background-color: transparent;">
                            <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                            <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                              <td style="width: 15%;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                              </td>
                              <td style="width: 70%;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                <div class="post-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 18px;line-height: 22px;font-weight: 300;text-align: left;margin-top: 0;color: #666666;font-family: 'Open Sans','lucida grande',arial,verdana,'lucida sans unicode',tahoma,sans-serif;text-justify: inter-word;">
                                  <a href="<%= get_job_url(encode_id(job.id)) %>" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;color: #444;text-decoration: none;text-align: left;">
                                    <%= job[:title].truncate(50) %>
                                  </a>
                                </div>
                                <div class="meta" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 12px;color: #999999;margin-bottom: 0;font-family: 'Open Sans','lucida grande',arial,verdana,'lucida sans unicode',tahoma,sans-serif;text-justify: inter-word;text-align: justify;">
                                  <ul class="meta-list list-inline" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-top: 0;margin-bottom: 10px;padding-left: 0;margin-left: 0;list-style: none;border-top: none;border-bottom: 1px solid #ccc;padding-top: 5px;">
                                    <li class="post-author" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;padding-right: 5px;padding-left: 0;">
                                      <a href="<%= get_job_url(encode_id(job.id)) %>" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;color: #999999;text-decoration: none;">
                                        <%= job[:company] %>
                                      </a>
                                      <span class="info-text-small-medium" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-size: 10px;color: #888888;line-height: 17px;margin-bottom: 1%;">

                                      </span>
                                    </li>
                                    <li class="post-comments-link" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;padding-right: 5px;padding-left: 5px; color: #999999; text-decoration: none; background: 0">
                                      <i class="glyphicon glyphicon-map-marker" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: 400;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;"></i>
                                      <%= job[:location].split(",").last(3).map{|t| t.strip()}.join(", ") %>
                                    </li>
                                  </ul>
                                </div>
                              </td>
                              <td style="width: 15%;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"></td>
                            </tr>
                            <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                              <td style="width: 15%;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                <div class="date-label" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;height: 60px;text-align: center;font-size: 13px;color: #fff;">
                                  <a href="<%= get_job_url(encode_id(job.id)) %>" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;color: #00a651;text-decoration: none;">
                                    <img class="img-responsive image-small" src="<%= job[:company_logo] %>" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;display: block;max-width: 100%!important;height: auto;">
                                  </a>
                                </div>
                              </td>
                              <td style="width: 70%;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                                <div class="post-entry" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-bottom: 15px;margin-left: 1%;color: #777777;font-size: 13px;line-height: 18px;text-align: left;">
                                  <%= Sanitize.clean(job[:description].truncate(500, :omission => '..').html_safe)%>
                                </div>
                              </td><td style="width: 15%;padding: 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                              <a class="btn btn-xs btn-success" href="<%= get_job_url(encode_id(job.id)) %>" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;color: #fff;text-decoration: none;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;background-color: #5cb85c;border-color: #4cae4c;">
                                <span class="glyphicon glyphicon-ok-sign" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings';font-style: normal;font-weight: 400;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;"></span> Apply
                              </a>
                            </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    <% end %>
                    </tbody></table>
                  <div class="column-bottom" style="font-size: 8px;line-height: 8px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&nbsp;</div>
                </td>
              </tr>
              </tbody></table>
          </td>
          <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&#8203;</td>
        </tr>
        </tbody></table>

      <table class="border" style="border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #e9e9e9;margin-left: auto;margin-right: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;" width="602">
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
          <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
            <td style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&#8203;</td>
          </tr>
        </tbody>
      </table>

      <div class="spacer" style="font-size: 1px;line-height: 32px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&nbsp;</div>
      <table class="footer centered" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 602px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
        <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="social" style="padding: 0;vertical-align: top;padding-top: 32px;padding-bottom: 22px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;" align="center">
            <table style="border-collapse: collapse;border-spacing: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
              <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
              <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                <td class="social-link" style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <table style="border-collapse: collapse;border-spacing: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
                    <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                      <td style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        <a style="text-decoration: none;transition: all .2s;color: #999;letter-spacing: 0.05em;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;" href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttp%253A%252F%252Fgoo.gl%252FDVi5YR%26ret%3Dlogin&amp;display=popup">
                          <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;" src="http://i8.createsend1.com/static/eb/master/01-mason/images/facebook-dark.png" width="26" height="21">
                        </a>
                      </td>
                      <td class="social-text" style="padding: 0;vertical-align: middle !important;height: 21px;font-size: 10px;font-weight: bold;text-decoration: none;text-transform: uppercase;color: #999;letter-spacing: 0.05em;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        <a style="text-decoration: none;transition: all .2s;color: #999;letter-spacing: 0.05em;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;" href="https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Fsharer%2Fsharer.php%3Fu%3Dhttp%253A%252F%252Fgoo.gl%252FDVi5YR%26ret%3Dlogin&amp;display=popup">Share</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td class="divider" style="padding: 0;vertical-align: top;font-family: sans-serif;font-size: 10px;line-height: 21px;text-align: center;padding-left: 14px;padding-right: 14px;color: #e9e9e9;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;" src="http://i6.createsend1.com/static/eb/master/01-mason/images/diamond.png" width="5" height="21" alt="">
                </td>
                <td class="social-link" style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <table style="border-collapse: collapse;border-spacing: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
                    <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                      <td style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        <a style="text-decoration: none;transition: all .2s;color: #999;letter-spacing: 0.05em;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;" href="https://twitter.com/intent/tweet?text=Looking+for+new+grad+job/internship?&amp;url=http%3A%2F%2Fgoo.gl%2FDVi5YR">
                          <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;" src="http://i7.createsend1.com/static/eb/master/01-mason/images/twitter-dark.png" width="26" height="21">
                        </a>
                      </td>
                      <td class="social-text" style="padding: 0;vertical-align: middle !important;height: 21px;font-size: 10px;font-weight: bold;text-decoration: none;text-transform: uppercase;color: #999;letter-spacing: 0.05em;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        <a style="text-decoration: none;transition: all .2s;color: #999;letter-spacing: 0.05em;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;" href="https://twitter.com/intent/tweet?text=Looking+for+new+grad+job/internship?&amp;url=http%3A%2F%2Fgoo.gl%2FDVi5YR">
                          Tweet
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td class="divider" style="padding: 0;vertical-align: top;font-family: sans-serif;font-size: 10px;line-height: 21px;text-align: center;padding-left: 14px;padding-right: 14px;color: #e9e9e9;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <img style="border: 0;-ms-interpolation-mode: bicubic;display: block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;vertical-align: middle;page-break-inside: avoid;max-width: 100%!important;" src="http://i6.createsend1.com/static/eb/master/01-mason/images/diamond.png" width="5" height="21" alt="">
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td class="border" style="padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">&nbsp;</td>
        </tr>
        <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
          <td style="padding: 0;vertical-align: top;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
            <table style="border-collapse: collapse;border-spacing: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
              <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
              <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                <td class="address" style="padding: 0;vertical-align: top;width: 250px;padding-top: 32px;padding-bottom: 64px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
                    <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 0;padding-right: 10px;word-break: keep-all;word-wrap: break-word;text-align: left;font-size: 12px;line-height: 20px;color: #999;font-family: Georgia,serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">Meed Inc.</div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td class="subscription" style="padding: 0;vertical-align: top;width: 350px;padding-top: 32px;padding-bottom: 64px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                  <table class="contents" style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: transparent;">
                    <tbody style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                    <tr style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;page-break-inside: avoid;">
                      <td class="padded" style="padding: 0;vertical-align: top;padding-left: 10px;padding-right: 0;word-break: keep-all;word-wrap: break-word;font-size: 12px;line-height: 20px;color: #999;font-family: Georgia,serif;text-align: right;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                        <div style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                          <span class="block" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                            <span style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                              <a style="font-weight: bold;text-decoration: none;transition: all .2s;color: #999;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: 0 0;" href="https://getmeed.com/login?redirect_url=https://getmeed.com/settings" lang="en">
                                Email Preferences
                              </a>
                              <span class="hide" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: none!important;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            </span>
                          </span>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>