<p class="accordion lightbox-text">Choose New Password
</p>
<hr class="hr-header">
<%= form_tag({:action => :passwordsubmit, :token => params[:token]}, :class => 'form-submit', :html => {:multipart => true}) do %>
    <div class="form-view" style="text-align: center;">
      <div style="text-align: center;">

        <%= password_field_tag :password, nil, :class => 'spanTb', :placeholder => 'Choose Password ****' %>
        <%= password_field_tag :confirm_password, nil, :class => 'spanTb', :placeholder => 'Confirm Password ****' %>
        <% if !alert.blank? %>
            <p class="label label-important">
              <%= alert %>
            </p>
        <% end %>
      </div>
    </div>
      <%= submit_tag 'Continue »', :class => 'button button-green',  :data => { :disable_with => 'Please wait..'}  %>
<% end -%>