<p class="accordion lightbox-text">Crm Results
</p>
<hr class="hr-header">

<table class="table">
  <tr>
    <th>id</th>
    <th>send_count</th>
    <th>clicks</th>
    <th>conversions</th>
    <th>Last updated Time </th>
  </tr>

<% @crm_results.each do |crm_result| %>
  <tr>
    <td><%= crm_result.ab_id %></td>
    <td><%= crm_result.send_count %></td>
    <td><%= crm_result.clicks %></td>
    <td><%= crm_result.conversions %></td>
    <td><%= crm_result.update_dttm %></td>

  </tr>
<% end %>
</table>